<div id="footer">
  <div
    id="footer_grid"
    style="display: flex; justify-content: center; align-items: center"
  >
    <!--<img src="/public/assets/images/AmoreAquaLogo.jpg" alt="Logo" style="width: 16px;"> -->
    <p style="font-weight: bold; margin: 0 0 0 10px">AmoreAqua AB</p>
  </div>
</div>
