<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <% if (isAuthenticated) { %>
    <div class="navbar">
      <button type="button" id="sidebarCollapse" class="btn navbar-btn">
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </button>
    </div>
    <% } %>

    <a href="/" class="logo d-flex align-items-center">
      <img src="public/assets/images/AmoreAqua-E.ico" alt="" />
      <span class="d-none d-lg-block">Dashboard</span>
    </a>
    <!-- <% if (!isAuthenticated) { %>
    <i class="bi bi-list toggle-sidebar-btn"></i>
    <% } %> -->
  </div>
  <!-- End Logo -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <% if (isAuthenticated) { %>
        <a
          class="nav-link nav-profile d-flex align-items-center pe-0"
          href="#"
          data-bs-toggle="dropdown"
        >
          <img
            src="public/assets/images/avatar.png"
            alt="Profile"
            class="rounded-circle"
          />
          <span class="d-none d-md-block dropdown-toggle ps-2"
            ><% if (isAuthenticated) { %> Welcome &nbsp;&nbsp;<%= claims.name %>
            <% } %></span
          >
        </a>
        <% }else { %>
        <!-- <a class="btn btn-success signin-btn" href="/signin" role="button"
          >Sign-in</a
        > -->
        <% } %>

        <!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <!-- <li class="dropdown-header">
            <h6>Anand</h6>
            <span>Web Designer</span>
          </li> -->
          <!-- <li>
                <hr class="dropdown-divider" />
            </li> -->

          <!-- <li>
            <a
              class="dropdown-item d-flex align-items-center"
              href="users-profile.html"
            >
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              href="users-profile.html"
            >
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li>
            <a
              class="dropdown-item d-flex align-items-center"
              href="pages-faq.html"
            >
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li> -->
          <!-- <li>
            <hr class="dropdown-divider" />
          </li> -->

          <li>
            <% if (isAuthenticated) { %>
            <a class="dropdown-item d-flex align-items-center" href="/signout">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign out</span>
            </a>
            <% }%>
          </li>
        </ul>
        <!-- End Profile Dropdown Items -->
      </li>
      <!-- End Profile Nav -->
    </ul>
  </nav>
  <!-- End Icons Navigation -->
</header>
